.App-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative;
    background: rgb(32, 35, 41);
}

.App-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    min-height: 60px;
    padding: 0px 1.5rem;
}

.App-header nav ul {
    display: flex;
    padding: 0px;
    margin: 0px;
}

.App-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1920px;
    padding-bottom: 30px;
    padding-top: 60px;
}

.Pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.Pagination span {
    display: flex;
    font-size: 0.75rem;
    color: #4CFF8F;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.Pagination span.active {
    background-color: #4CFF8F;
    color: rgb(32, 35, 41);
}

.Pagination span.disabled {
    color: rgb(158, 158, 158);
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

.Pagination span:hover:not(.active) { background-color:transparent; }