.Card {
    width: 800px;
    height: 300px;
    display: flex;
    background: #202428;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.Card-avatar {
    flex: 2 0%;
    width: 100%;
}

.Card-avatar img {
    max-height: 100%;
}

.Card-corpus {
    flex: 3 0%;
    position: relative;
    padding: 0.75rem;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Card-corpus .section-text {
    flex: 3 1 0%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.70rem;
}

.Card-corpus .section-text:first-child {
    padding-top: 10px;
    justify-content: flex-start;
}

.Card-corpus span {
    font-size: 0.90rem;
} 

.Card-corpus h2, .Card-corpus p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.secondary-text {
    color: rgb(158, 158, 158);
}

.status {
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

.icon-status-alive {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(85, 204, 68);
    border-radius: 50%;
}

.icon-status-dead {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(214, 61, 46);
    border-radius: 50%;
}

.icon-status-unknown {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(158, 158, 158);
    border-radius: 50%;
}

@media (max-width: 40.625em){
    .Card {
        flex-direction: column;
        height: initial;
        width: 100%;
    }
    .Card-avatar img {
        width: 100%;
    }

}