.EpisodeDropdown {
    float: left;
    overflow: scroll;
    z-index:1000;
    position: absolute;
}
  
.EpisodeDropdown-button {
    border: none;
    outline: none;
    color: #4CFF8F;
    background-color: #24292E;
    padding: 10px 18px;
}

.EpisodeDropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    max-height: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.EpisodeDropdown-content span {
    float: none;
    background-color:#24292E;
    padding: 12px 16px!important;
    text-decoration: none;
    display: block;
    text-align: left;
  }

.EpisodeDropdown:hover .EpisodeDropdown-content {
    display: block;
}

.EpisodeDropdown-content span:hover {
    background-color:rgb(32, 35, 41);;
}

@media (max-width: 40.625em){
    .EpisodeDropdown {
        position: relative;
    }
}