.Footer {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    background: rgb(32, 35, 41);
    color: rgb(158, 158, 158);
    min-height: calc(10px);
    width: 100%;
    flex-flow: column wrap;
    position: relative;
}

.Footer p {
    padding: 10px;
}